.an-contact-us {
  position: relative;
  padding: $padding-base * 2 0;
  margin-bottom: $margin-base * 2;

  .an-map-content {
    width: 100%;
    height: 580px;
  }
}

.an-address-single {
  font-style: italic;
  color: darken($base-font-color-light, 10%);
  position: relative;
  margin-bottom: $margin-small * 2;
}
