.modal {
  &.primary {
    background: rgba($sidebar-color, .1);
  }

  &.success {
    background: rgba($secondary-color-main, .1);
  }

  .modal-title {
    @extend .text-uppercase;
  }
}
.modal-content {
  @include border-radius($border-radius-base);
  box-shadow: 0 3px 9px rgba($sidebar-color , .2);
  border: 0;
}
