@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

html {
-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

html, body, app-frontheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1706;
    text-align: left;
    background-color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
font-family: 'Open Sans', sans-serif;
font-weight:400;	
}

.service-cont div[class*="col"] label.serviceclass {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	border-radius: 5px;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/* .service-cont div[class*="col"] .serv-txt {
	background-position: center;
	margin-top: -30px;
}
.service-cont div[class*="col"] .serv-txt {
	background-position: center;
} */
/* .serviceclass .serv-txt.moving_0 {
	background-image: url('../images/moving.png');
	background-repeat: no-repeat;
} */
.serv-txt {
	width: 100%;
}
/* .service-cont[_ngcontent-dus-c1] div[class*="col"][_ngcontent-dus-c1] .serv-txt[_ngcontent-dus-c1] h4[_ngcontent-dus-c1] {
    padding-top: 85px;
} */

.serv-txt h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    padding: 20px 0 0 0;
        padding-top: 20px;
    margin: 0;
}

/* .serviceclass .serv-txt.moving_1 {
    background-image: url('../images/packing.png');
    background-repeat: no-repeat;
}

.serviceclass .serv-txt.moving_2 {
    background-image: url('../images/mvpc.png');
    background-repeat: no-repeat;
} */

.btn i {
    margin-left: 5px;
}

.header-sticked header {
    background: #fff;
    -webkit-animation: slide-down .7s;
    animation: slide-down .7s;
position:fixed;
left:0;
width:100%;
top:0; 			
}


@-webkit-keyframes slide-down {
    0% {
       /*  opacity: 0; */
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    } 
    100% {
        /* opacity: 0.9; */
        -webkit-transform: translateY(0);
                transform: translateY(0);
    } 
}
@keyframes slide-down {
    0% {
        /* opacity: 0; */
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    } 
    100% {
        /* opacity: 0.9; */
        -webkit-transform: translateY(0);
                transform: translateY(0);
    } 
}

.header-cont {
    padding: 0 15px;
}
.header-cont > div {
max-width: 1353px;
margin: 0px auto;
padding-left: 15px !important;
padding-right: 15px !important;
}


.logo img {
    padding: 10px 0;
}

header {
	background-color: #fff;
	position: relative;
    z-index: 999;
    -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.15);
            box-shadow: 0 5px 30px rgba(0,0,0,0.15);	
}

.header-sticked .header-cont > .flex-column {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.header-sticked .logo img {
    max-width: 100px;
}

a.scroll-top {
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    display: none;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    background-color: #cecece;
}
.scroll-top .fa-chevron-up::before {
    content: "\f062";
}
.banner-cont {
    width: 100%;
    height: 100%;
    background: rgba(34,57,109,1);
    background: -moz-linear-gradient(left, rgba(34,57,109,1) 0%, rgba(23,158,207,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,57,109,1)), color-stop(100%, rgba(23,158,207,1)));
    background: -webkit-linear-gradient(left, rgba(34,57,109,1) 0%, rgba(23,158,207,1) 100%);
    background: -o-linear-gradient(left, rgba(34,57,109,1) 0%, rgba(23,158,207,1) 100%);
    background: -ms-linear-gradient(left, rgba(34,57,109,1) 0%, rgba(23,158,207,1) 100%);
    background: linear-gradient(to right, rgba(34,57,109,1) 0%, rgba(23,158,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22396d', endColorstr='#179ecf', GradientType=1 );
	padding: 8% 0 150px 0;
	margin-top: -16px;
}

.banner-cont .container {
    max-width: 1350px;
}
.bnr-txt h1 {
    font-family: Open Sans;
    font-size: 56px;
    color: #fff;
    font-weight: 300;
    line-height: 86px;
}

.bnr-txt span {
    font-weight: bold;
}

.bnr-txt p {
    font-family: Open Sans;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin: 0px;
    line-height: 40px;
}
.bnr-txt a {
    padding: 15px 34px;
    background-color: #fff;
    margin: 30px 0 0 0;
    display: inline-block;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 100;
    color: #000;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;	
}
a, a:hover, a:focus{
	text-decoration:none;
}
.bnr-txt a:hover {
    background: #ECF7FB;
}
.cta-btn .fas {
    padding-right: 3px;
    color: #203767;
}
.cta-btn a {
    color: #203767 !important;
    font-size: 15px;
}

.service-cont .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-cont  	div[class*="col"] {
  max-width: 270px;
  background-color: #ecf7fb;
  height: 200px;
  padding: 0;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
  margin-top: -105px;
  -webkit-box-shadow: 1px 2px 31px -7px rgba(0,0,0,0.69);
  -moz-box-shadow: 1px 2px 31px -7px rgba(0,0,0,0.69);
  box-shadow: 1px 2px 31px -7px rgba(0,0,0,0.69);
}
.service-cont div[class*="col"].active{
	background:#1695C2;
}
.active .serv-txt h4{
	color:#fff;
}
.cdb form .custom-control-label {
    font-size: 20px;
}
.serv-txt {
  width: 100%;
}
/* Reviews Style2 */
.reviews.style2 {
    text-align: center;
    padding: 0 240px;
    margin: 0;
    background: none;
}
.reviews.style2 img {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 5px;
    width: 106px;
    height: 106px;
    border: 2px dashed #c6c6c6;
}
.reviews.style2 h3 {
    float: left;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
	font-weight:400;
}
.reviews.style2 h3 span {
    float: left;
    width: 100%;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 7px;
    margin-bottom: 10px;
}
.reviews.style2::before {
    font-size: 213px;
    color: #1695c2;
    top: auto;
    bottom: 110px;
	font-family: Quicksand;
}
.reviews.style2::after {
    font-size: 213px;
    color: #1695c2;
    top: 30px;
    content: '“';
    bottom: 110px;
    font-family: Quicksand;
    font-weight: bold;
    left: 0;
    right: auto;
    position: absolute;
}
.reviews-sec#reviews .slick-dots li {
    border-color: #b7bac6;
}
.reviews-sec#reviews .slick-dots li button {
    background: #b7bac6;
}
.slick-dots li {
    width: 14px;
    height: 14px;
    background: none;
    border: 2px solid #ffffff;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 0 7px;
        margin-top: 0px;
    margin-top: 0px;
    margin-top: 20px;
    float: none;
    display: inline-block;
}
.slick-dots li button {
    width: 6px;
    height: 6px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 2px;
    opacity: 0;
    padding: 0;
    color: transparent;
}
.slick-dots li button {
    background: #b7bac6;
	float: right;
}
.slick-dots li.slick-active button {
    opacity: 1;
    background: #ffffff;
}
/* Top Company Sec */
.top-company-sec {
    float: left;
    width: 100%;
    margin-top: -30px;
}
.top-compnay {
    float: left;
    width: 100%;
    background: #ffffff;
    
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
    -ms-box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
    -o-box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.06);

    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    margin-top: 30px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 6px;
    margin-bottom: 30px;
-webkit-transition: all 0.4s ease 0s;

-moz-transition: all 0.4s ease 0s;

-ms-transition: all 0.4s ease 0s;

-o-transition: all 0.4s ease 0s;

transition: all 0.4s ease 0s;	
}
.top-compnay img {
    float: none;
    display: inline-block;
    max-width: 100%;
}
.top-compnay h3 {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 5px;
}
.top-compnay h3 a {
    color: #111111;
}
.top-compnay span {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 13px;
    color: #179DCE;
}
.top-compnay > a {
    float: none;
    font-family: Open Sans;
    font-size: 13px;
    color: #fb236a;
    border: 1px solid #fb236a;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 6px 14px;
    letter-spacing: 0px;
    margin: 16px 0;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 5px;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;		
}
.top-company-sec button.slick-arrow {
    z-index: 12;
    border: 2px dashed #c8cccc;
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: -21px;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;	
}
.top-company-sec button.slick-prev.slick-arrow {
    left: -110px;
}
.top-company-sec button.slick-next.slick-arrow {
    right: -110px;
}
.top-company-sec button.slick-arrow::before {
    color: #bec2c2;
    line-height: 35px;
}
.top-company-sec button.slick-arrow:hover {
    background: #1695C2;
    border: 2px solid #1695C2;
}
.top-company-sec button.slick-arrow:hover::before {
    color: #ffffff;
}
.top-company-sec .slick-slide .col-lg-3 {

    max-width: 100%;

}
.top-compnay.style2 > a {

    color: #647585;
    border-color: #647585;

}
.top-compnay.style2 > a:hover {

    color: #FFF;
    background-color: #647585;
    border-color: #647585;

}
.top-compnay:hover {

    -webkit-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);

}
/************************* How it work ************************/

.block {
    float: left;
    padding: 60px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.block.no-padding {

    padding-top: 0;
    padding-bottom: 0;

}
.heading {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.heading > h2 {
    float: left;
    width: 100%;
    margin: 0;
    color: #202020;
	font-size:48px;
}
.happy-cand .heading h2 {
    font-weight: 300;
    font-size: 34px;
}
.happy-cand  .sub-info {
	color:#424242;
	font-size:14px;
}
.heading span {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
    color: #888888;
    margin-top: 8px;
    line-height: 29px;
}
.how-to-sec {
    float: left;
    width: 100%;
    margin-top: 0px;
    display: table;
}
.how-to {
    float: left;
    width: 33.334%;
    text-align: center;
    position: relative;
	padding: 0 50px;
}

.how-to::before {
    position: absolute;
    left: 55%;
    top: 60px;
    width: 270px;
    height: 36px;
    background-image: url('../images/line1.png');
    content: "";
    z-index: 1;
    margin-left: 61px;
}

.how-to:nth-child(n+2)::before {
    background-image: url('../images/line2.png');
    top: 13px;
}
.how-to:nth-child(n+3)::before {
    background: none;
}

.how-icon {

    float: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 94px;
    font-size: 53px;
    text-align: center;
    color: #fff;
    background: #179dce;

}
.serv-txt h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    padding: 20px 0 0 0;
	margin: 0;
}


.how-to h3 {
    font-family: Open Sans;
    font-size: 18px;
	font-weight: 600;
    color: #121212;
    margin-top: 30px;
}
.how-to p {
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
	font-weight: 300;
    color: #888888;
    line-height: 1.8;
    margin:14px auto 0;
	max-width: 300px;
}


.abt-section{
	background:url(../images/about-bg.jpg);
	text-align: center;
	color: #fff;	
}
.heading-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
}
.sub-info {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.brd {
    width: 100px;
    height: 1px;
    background: #fff;
    margin: 0px auto 30px;
    display: table;
	clear: both;
}
.how-works .brd, .happy-cand .brd {
    background: #000;
}
.block.how-works {

    padding-top: 80px;

}
.our-partners .sub-info {
color: #fff;
font-size: 14px;
font-weight: 400;
}
.simple-text-block p {
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    max-width: 1000px;
    margin: 0px auto;
}

.reviews {
    float: left;
    width: 100%;
    background: #ffffff;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    padding: 30px 30px;
    position: relative;
    margin-top: 47px;
}
.reviews img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    margin-top: -75px;
}
.reviews h3 {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 18px;
    color: #202020;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.reviews h3 span {
    font-family: Open Sans;
    font-size: 15px;
    color: #888888;
    margin-left: 10px;
}
.reviews p {
    float: left;
    width: 100%;
    margin: 0;
    margin-bottom: 0px;
    font-family: Open Sans;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 15px;
}
.reviews::before {
    position: absolute;
    right: 40px;
    top: 20px;
    content: '“';
    
    font-size: 100px;
    font-weight: bolder;
    
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    line-height: 30px;
    color: #8b91dd;
}
.reviews-sec {
    float: left;
    width: 100%;
}

.our-partners {
    background: url(../images/our-partners-bg.jpg);
    background-size: cover;
    background-position: center;
	position:relative;
}
.our-partners::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #2E3A62;
    z-index: 1;
    content: "";
    opacity: 0.75;
}
.our-partners .container {
    position: relative;
    z-index: 1;
}
.our-partners .heading span {
    color: #fff;
}
.our-partners .heading > h2 {
    color: #fff;
    font-size: 1.9rem;
    margin-bottom: 10px;
}
a{
	text-decoration:none;
}

.plans-sec {
    float: left;
    width: 100%;
    margin-top: -30px;
}

/* Plans Sec */
.plans-sec {
    float: left;
    width: 100%;
    margin-top: -30px;
}
.pricetable {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 30px 20px;
-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.15);
        box-shadow: 0 0 30px rgba(0,0,0,0.15);	
		position:relative;
}
.pricetable:before{
background: rgba(32,53,100,1);
background: -moz-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,53,100,1)), color-stop(100%, rgba(22,148,194,1)));
background: -webkit-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -o-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -ms-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: linear-gradient(to right, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203564', endColorstr='#1694c2', GradientType=1 );
content: "";
display: block;
height: 3px;
width: 100%;
position: absolute;
top: 0;
left: 0;
}
.plans-sec .col-lg-4 {
max-width: 375px;
}
.pricetable-head {
    float: left;
    width: 100%;
    padding: 0 0 0 0;
}
.pricetable-head h3 {
float: left;
width: 100%;
font-size: 24px;
margin: 0 0 10px 0;
font-weight: 600;
}
.pricetable-head h2 {
    float: left;
    width: 100%;
    font-size: 60px;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 17px;
    line-height: 50px;
    margin-bottom: 13px;
}
.pricetable-head h2 i {
    font-style: normal;
    font-size: 18px;
    line-height: 0px;
    position: relative;
    bottom: 3px;
}
.pricetable-head span {
    float: left;
    width: 100%;
    color: #888888;
    margin: 0 0 20px 0;
}
.pricetable ul {
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 30px;
	padding:0;
	list-style:none;
	text-align:left;
}
.pricetable ul li {
float: left;
width: 100%;
font-family: Open Sans;
font-size: 15px;
color: #595959;
line-height: 40px;
}
.pricetable ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
	color: #1795C5;
}
.pricetable > a {
    float: none;
    display: inline-block;
    font-family: Open Sans;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 55px;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;

    margin-bottom: 40px;
    margin-top: 20px;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.pricetable.active > a {
    background: #ffffff;
}
.pricetable.active ul li {
    color: #ffffff;
}

.pricetable > a:hover {
    background: #d42525;
    color: #FFF;
}
.pricetable-head .btn {

    background: #D6D6D6;
    color: #303030;
    border-radius: 0;
    display: inline-block;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;	
}
.pricetable-head .btn:hover{
    background:#1F3E6D;
	color:#fff;
}
.level-service .heading span {
    font-size: 24px;
    color: #000;
    font-weight: 300;
    line-height: 1.7;
    margin: 20px 0;
}


.partner-btn {
    background: rgba(32,53,100,1);
    background: -moz-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,53,100,1)), color-stop(100%, rgba(22,148,194,1)));
    background: -webkit-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
    background: -o-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
    background: linear-gradient(to right, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203564', endColorstr='#1694c2', GradientType=1 );
    color: #fff;
    padding: 20px 15px;
    width: 100%;
    max-width: 300px;
    border: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 50px;
    margin: 70px 0 0 0;
}
.partner-btn:hover {
background: rgb(22,147,192);
background: -moz-linear-gradient(-45deg,  rgba(22,147,192,1) 0%, rgba(32,53,101,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(22,147,192,1) 0%,rgba(32,53,101,1) 100%);
background: linear-gradient(135deg,  rgba(22,147,192,1) 0%,rgba(32,53,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1693c0', endColorstr='#203565',GradientType=1 );
color:#fff;
}

.slick-dotted .slick-dots {
    float: left;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}
.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
background: #eef8fc;
padding:50px 30px;	
min-height: 700px;		
}
.form-inner {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
    background: #fff;
	text-align:center;
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.24);
            box-shadow: 0 0 40px 0 rgba(0,0,0,0.24);
}

.form-main .first_form {
    max-width: 450px;
    margin: 0px auto;
    padding: 10px 30px;
}
.form-inner .form-header {
background: rgba(32,53,100,1);
background: -moz-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,53,100,1)), color-stop(100%, rgba(22,148,194,1)));
background: -webkit-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -o-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -ms-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: linear-gradient(to right, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203564', endColorstr='#1694c2', GradientType=1 );
    color: #fff;
    text-align: left;
    padding: 15px;
font-size:26px;	
}
.form-main .logo-icon {
    margin: 0px auto 20px;
    display: block;
}
.form-inner h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 30px;
    color: #203868;
	font-family: 'Oswald', sans-serif; 
}
.form-inner .card-body h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}
.form-inner h1 span{ 
color:#1690be;
}
.form-control {
    padding: .675rem .75rem;
    min-height: 47px;
    font-weight: 300;
    font-size: 15px;
}
.signup-form .form-main .form-control, .signin-form .form-main .form-control {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-main h1 span {
    color: #1695c2;
}
.btn-primary {
    background: #1691be;
    border-color: #1691be;
}
.btn-primary:hover{
	background:#1F4372;
	 border-color: #1F4372;
}
.form-main .btn {
    min-width: 200px;
}
.form-wrapper #pills-tab {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.signup-partner .form-header {
    margin-bottom: 30px;
}
.signup-partner .logo-icon {
    margin-bottom: 10px;
}
.signup-partner .form-main {
    max-width: 750px;
    text-align: left;
}
.form-inner .form-check .form-check-label {
    margin-right: 35px;
}
.signup-partner .form-main .second_form {
    max-width: 80%;
    text-align: left;
    margin: auto;
}

.form-inner .form-check .form-check-label {
    margin-right: 35px;
}
.signup-partner .nav-pills .nav-link {
background: rgb(22,147,193);
background: -moz-linear-gradient(-45deg,  rgba(22,147,193,1) 0%, rgba(32,56,104,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(22,147,193,1) 0%,rgba(32,56,104,1) 100%);
background: linear-gradient(135deg,  rgba(22,147,193,1) 0%,rgba(32,56,104,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1693c1', endColorstr='#203868',GradientType=1 );
    color: #fff;
    border-radius: 40px;
	margin: 0 -10px;
	min-width: 130px;
}
.signup-partner .nav-pills .nav-item:first-child .nav-link:not(.active) {
	background: #203868;
    border-radius: 40px 0 0 40px;
    padding-right: 30px;
}
.signup-partner .nav-pills .nav-item:last-child .nav-link:not(.active) {
	background: #203868;
    border-radius: 0 40px 40px 0;
	padding-left:30px;
}
.signup-partner .nav-pills .nav-item:first-child .nav-link.active {
    position: relative;
    z-index: 1;
background: rgba(32,53,100,1);
background: -moz-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,53,100,1)), color-stop(100%, rgba(22,148,194,1)));
background: -webkit-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -o-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -ms-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: linear-gradient(to right, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203564', endColorstr='#1694c2', GradientType=1 );	
}
.signup-partner .check-row {
    margin-bottom: 1.5rem;
}
./* form-wrapper.signup-partner {
    min-height: 1020px;
} */

.ft {

    background: none;
    border-top: 1px solid #eaeeee;

}
.ft .bottom-line {
    background: #000000;
    padding-top: 0;
}
.bottom-line {
    float: left;
    width: 100%;
    text-align: center;
    background: #1d293e;
    padding: 24px 0;

}
.bottom-line span {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.ft .bottom-line .container {
    padding-top: 24px;
}
/************************************************************/

.case-study-bar {
    background: #ae1104;
    padding: 40px 0;
}
.case-study-bar h2 {
    color: #fff;
}
.case-study-bar .btn {
    background: #fff;
    color: #343A40;
}
.case-study-bar .btn {
    background: #fff;
    color: #343A40;
    border-radius: 50px;
    padding: 10px 15px;
    min-width: 220px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.case-study-bar .btn:hover{
    background: transparent;
    color: #fff;
	border-color:#fff;	
}
.case-study-bar h2 {
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
}
.pricing-table-sec.container{
    max-width: 1200px;
}
.pricing-table-sec .case-study-bar {
    background: #ae1104;
    padding: 40px 0;
}
.pricing-table-sec .card-header {
    background:transparent;
    border: none;
}
.pricing-table-sec .card-header h4 {
    color: #000;
    font-weight: 700;
}
.pricing-table-sec .card {
    background: #ECF7FB;
    border: none;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;		
}
.pricing-table-sec .card-body ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 9px;
    margin-right: 15px;
	color: #1691be;
}
.pricing-table-sec .card.selected .card-body ul li::before {
	color: #fff;
}

.pricing-table-sec .card-body ul li {
    text-align: left;
    color: #343A40;
    padding: 3px 0;
    font-size: 14px;
}
.pricing-table-sec .card-body {
    padding: 2.25rem 1.25rem 2.25rem 1.25rem;
}
.pricing-table-sec .card-header{
	padding-top:2.25rem;
	padding-bottom:0;	
}
.pricing-table-sec .card-title sub {
    font-size: 20px;
    bottom: 0;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
}
.pricing-table-sec .card-deck .card.selected {
background: rgb(22,149,194);
background: -moz-linear-gradient(top,  rgba(22,149,194,1) 0%, rgba(32,56,104,1) 100%);
background: -webkit-linear-gradient(top,  rgba(22,149,194,1) 0%,rgba(32,56,104,1) 100%);
background: linear-gradient(to bottom,  rgba(22,149,194,1) 0%,rgba(32,56,104,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1695c2', endColorstr='#203868',GradientType=0 );
-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.45);
        box-shadow: 0 0 30px rgba(0,0,0,0.45);
}
.pricing-table-sec .card.selected .card-header h4,
.pricing-table-sec .card.selected .card-header div,
.pricing-table-sec .card.selected .card-body .card-title,
.pricing-table-sec .card.selected .card-body ul li
{
	color:#fff;
}
.pricing-table-sec .card:nth-child(2) .brd{
	background:#fff;
}
.pricing-table-sec .card-deck .card:not(:nth-child(2)):hover {
    -webkit-box-shadow: 0 20px 80px rgba(0,0,0,0.15);
            box-shadow: 0 20px 80px rgba(0,0,0,0.15);
background: #fff;			
}



.pricing-table-sec .card-deck .card span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.pricing-table-sec .card-deck .card span:nth-child(1)
{
  transform:rotate(0deg);
}

/* .pricing-table-sec .card-deck .card span:nth-child(2)
{
  transform:rotate(90deg);
} */

.pricing-table-sec .card-deck .card span:nth-child(3)
{
  transform:rotate(180deg);
}

/* .pricing-table-sec .card-deck .card span:nth-child(4)
{
  transform:rotate(270deg);
}
 */
.pricing-table-sec .card-deck .card span:before
{
  content: '';
  position: absolute;
  left:0;
  height: 2px;
  background: #1691BE;
  animation: animate 4s linear infinite;
  right:0;
  margin:10px;
  display:none;
}
.pricing-table-sec .logo-icon {
    margin-bottom: 10px;
}
.pricing-table-sec .card-deck .card:nth-child(2) span:before{
background: #fff;	
}
.pricing-table-sec .card-deck .card:hover span:before
{
  display:block;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 



/***/

.pricing__value--hidden{
	display:none;
}
.pricing__value--show{
	-webkit-animation: showToY 0.6s forwards;
	animation: showToY 0.6s forwards;
}
.pricing__value--hide{
	-webkit-animation: fadeToY 0.6s forwards;
	animation: fadeToY 0.6s forwards;
}
@keyframes fadeToY {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(80%);
		transform: translateY(80%);
	}
}
@-webkit-keyframes fadeToY {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(80%);
		transform: translateY(80%);
	}
}
@keyframes showToY {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}
	100% {
		opacity:1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes showToY {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}
	100% {
		opacity:1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}


/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

body .pricing-table-sec .card-deck .card:nth-child(2) .btn.btn-primary{
	background:#fff;
	border-color:#fff;
	color:#b70f02;
}
body .pricing-table-sec .card-deck .card:nth-child(2) .btn.btn-primary:hover{
	background:transparent;
	color:#fff;
}
.pricing-table-sec .nav-item .nav-link {
    border-radius: 0 40px 40px 0;
    min-width: 120px;
    text-align: center;
    background: #1F4372;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}
.pricing-table-sec .nav-pills .nav-link.active, 
.pricing-table-sec .nav-pills .show > .nav-link {
background: rgb(22,147,192);
background: -moz-linear-gradient(-45deg, rgba(22,147,192,1) 0%, rgba(32,53,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(22,147,192,1) 0%,rgba(32,53,101,1) 100%);
background: linear-gradient(135deg, rgba(22,147,192,1) 0%,rgba(32,53,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1693c0', endColorstr='#203565',GradientType=1 );
	color: #fff;
}
.pricing-table-sec .nav-item .nav-link#pills-monthly-tab.active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
background: rgba(32,53,100,1);
background: -moz-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,53,100,1)), color-stop(100%, rgba(22,148,194,1)));
background: -webkit-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -o-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: -ms-linear-gradient(left, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
background: linear-gradient(to right, rgba(32,53,100,1) 0%, rgba(22,148,194,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203564', endColorstr='#1694c2', GradientType=1 );	
}
.pricing-table-sec .nav-item .nav-link#pills-monthly-tab:not(.active) {
    border-radius: 40px 0 0 40px;
}
.pricing-table-sec .card-deck .card {
    margin-left: 0;
    border-radius: 0;
}
.pricing-table-sec .card-deck .card:nth-child(2) {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    z-index: 1;
}
.pricing-table-sec .card-header .label {
    color: #a51104;
    font-weight: bold;
    background: #fff;
    position: absolute;
    left: -7px;
    top: 25px;
    padding: 3px 15px;
    font-size: 14px;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.25);
            box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
.pricing-table-sec .form-inner {
    max-width: 1050px;
}
.pricing-table-sec .form-inner #pills-tabContent {
    max-width: 830px;
    margin: 80px auto;
}
.pricing-table-sec .form-header {
    margin-bottom: 40px;
}
.card-header div {
    color: #424242;
    font-size: 15px;
    margin-top: 10px;
}
.pricing-table-sec .btn-wrap a {
    background: #1691BE;
    color: #fff;
    padding: 15px;
    width: 100%;
    text-align: center;
    max-width: 300px;
}
.pricing-table-sec .btn-wrap {
    margin-top:50px;
}
.bootstrap-select > .dropdown-toggle {
    border: 1px solid #ddd;
    background: #fff;
    min-height: 47px;
	width:100%;
	min-width: 0;
}
.bootstrap-select {

    width: 100% !important;

}
.cdb .service-cont div[class*="col"] {
    margin-top: 0;
    box-shadow: 1px 2px 31px -7px rgba(0,0,0,0.39);
}
.cdb .service-cont {
    margin-top: 80px;
}
.wrapper {
    padding: 0 0 60px 0;
}
.cdb .form-header {
    background: #ecf7fb;
    text-align: center;
    padding:25px 15px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top:60px;
}
.cdb .form-header .form-check-label {
    font-size: 20px;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #1695c2;
}
.cdb .container {
    max-width: 950px;
}
.w-950 .container {
    max-width: 950px; 
}

.step-title {
    color: #203868;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
	font-family: 'Oswald', sans-serif;
}
.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    border: 2px solid #1690be;
-webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
}
.custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    width: 1.3rem;
    height: 1.3rem;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background: #1690be;
}

form .btn {
    min-width: 200px;
}

.titlebar {
    background: url("../images/titlebar-bg.jpg");
    background-size: cover;
}
.titlebar h1 {

    text-align: center;
    margin: 80px 0;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.titlebar h1::before {
    height: 6px;
    width: 50px;
    display: inline-block;
    content: "";
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-right: 8px;
}
.titlebar h1::after {
    height: 6px;
    width: 50px;
    display: inline-block;
    content: "";
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 8px;
}
.title-icon-bar .tc-wrap {
    background: #ecf7fb;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title-icon-bar .tc-wrap img {
    margin-right: 10px;
}
form .sub-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
	font-weight: 400;
}
.hire-panel {
    background: #ecf7fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
	margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hire-panel .desc .name {
    color: #1691be;
    font-size: 16px;
    font-weight: 600;
}
.hire-panel .desc .sub-label {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin: 3px 0;
}
.hire-panel .desc p {
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
	margin: 0;
}
.hire-panel .desc {
    margin: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
}
.hire-panel .info .rate {
    color: #1691be;
    font-weight: 700;
    font-size: 18px;
}
.info .action a {
    color: #203464;
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
}
.info .action a:first-child {
    margin-right: 20px;
}
.info .action a .fas {
    margin-right: 5px;
}
.info .action .fas {
    color: #51b608;
}
.info .action .fas {
    color: #51b608;
}
.info .action .fa-times{
	color:#ce0505;
}
.joblisting-panel {
    background: #ecf7fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;	
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.joblisting-panel .t_icon-wrap {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
			color: #083166;
}
.joblisting-panel .t_icon-wrap img {
    margin-right: 10px;
    max-width: 40px;
}
.joblisting-panel .desc {
    font-size: 18px;
    margin-top: 15px;
}
.info .bids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
			font-size:14px;
			color: #0096c5;
}
.info .bids img {
    margin-right: 8px;
}
.info .mode {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}
.mode .fas {
    color: #0CAF03;
    font-size: 8px;
    position: relative;
    top: -2px;
}
.joblisting-panel .info .action a {
    color: #203464;
}
.joblisting-panel .info .action a:first-child {
    margin-right: 10px;
}
.joblisting-panel .action a .fas {
    font-size: 11px;
    margin-right: 2px;
	color:#1695c2;
}
.joblisting-panel-wrap {
    padding-top: 50px;
}
.bootstrap-select .dropdown-toggle .filter-option {
    line-height: 34px;
    font-weight: 300;
    color: #495057;
}
.form-check .form-check-label {
    font-weight: 300;
    color: #495057;
}
.bidnow-btn {
    background: #1691be;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}
.title-icon-bar .tc-wrap::before, .title-icon-bar .tc-wrap::after {
    display: table;
    content: "";
    clear: both;
}
.tc-wrap .left {
    float: left;
}
.tc-wrap .right {
    float: right;
}
.tc-wrap .bidnow-btn img {
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.bottom-line ul {
    padding: 0;
}
.bottom-line li a {
    display: inline-block;
    color: #d0d0d0;
    padding: 0 10px;
}
.bottom-line li a:hover {
    color: #fff;
}
.bottom-line ul li {
    display: inline-block;
}
.bottom-line ul li a::after {
    border-right: 1px solid #d0d0d0;
    content: "";
    height: 13px;
    display: inline-block;
    position: relative;
    left: 10px;
}
.bottom-line ul li:last-child a::after{
	display:none;
} 
.slick-dots li.slick-active button::before {
    display: none;
}
/*****************************************************/
a, a:focus{
	outline:0;
}

footer {
    margin-top: auto;
}
html, body {
    height: 100%;
}
html, body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
        height: 100%;
}

.job_change_step_page,
.job_dashboard,
.joblisting-panel-wrap {
	padding-top:50px;
	padding-bottom:50px;
}
.job_change_step_page .title {
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 30px;
}
.get-free-quotes a {
    background: #37d61a;
    color: #fff;
    padding: 10px;
    display: inline-block;
    font-weight: 600;
	-webkit-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;		
}
.get-free-quotes a:hover {
    background: #13b200;
}
.custom_navbar_1 .navbar-nav .nav-link {
    color: #303030;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
	-webkit-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;	
}
.custom_navbar_1 .navbar-nav .nav-link:hover,
.custom_navbar_1 .navbar-nav .nav-link:focus,
.custom_navbar_1 .navbar-nav .nav-link.active{
    color: #0096c5;
}

.custom_navbar_1 .dropdown-menu {
    font-size: 14px;
}
.custom_navbar_1 .dropdown-item {
    border-bottom: 1px solid #e9e9e9;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.custom_navbar_1 .dropdown-item:focus, .custom_navbar_1 .dropdown-item:hover {
    color: #0096c5;
    text-decoration: none;
    background-color: #fff;
}
.custom_navbar_1 .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

.custom-control-label::before {
    border:0;
    background: #e2e2e2;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0092c1;
}

.custom_navbar_1 {
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.15);
            box-shadow: 0 3px 5px rgba(0,0,0,0.15);
			z-index: 999;
}
.custom-control-label {
    font-weight: 300;
    font-size: 18px;
}

.custom_navbar_1 .navbar-nav .nav-link.notification {
	font-size: 1.8rem;
	color: #0092c1;
}
.custom_navbar_1 .notification .counter {
    color: #fff;
    background: #0092c1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    right: 8px;
    top: 14px;
    border: 2px solid #fff;
}
.custom-control {
    padding-left: 1.9rem;
}
.job_dashboard .table th, .job_dashboard .table td {
    font-size: 15px;
    border: 0;
	vertical-align: middle;
}
.job_dashboard .table th{
    font-size: 16px;
	font-weight:400;
}
.job_dashboard .table td{
color:#575757;
}
.job_dashboard .table .thead-dark th {
    color: #fff;
    background-color: #0096c5;
    border-color: #0096c5;
}
.job_dashboard .table-striped tbody tr{
    background-color: #dcf3fa;
}
.job_dashboard .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.job_dashboard .table .rating {
    color: #ffc100;
}
.job_dashboard .table .hire {
	background: #23bf07;
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	min-width: 70px;
	text-align: center;
	-webkit-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.job_dashboard .table .hire:hover {
    color: #fff;
    background: #0096c5;
}
.job_dashboard .table a{
	color:#1e1706;
}
.job_dashboard .table a:hover{
	color:#0096c5;
}
.paperclip svg {
    height: 24px;
    fill: #575757;
}
.navbar-toggler .fa {
    font-size: 2rem;
    color: #0092c1;
}
.nav-pills .nav-item a i {
    margin-right: 7px;
}
.nav-pills .nav-item a {
    color: #676767;
	border-radius:0;
	padding-left: 30px;
	padding-right: 30px;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show > .nav-link{
background: #083569;
background: -moz-linear-gradient(left,  #083569 0%, #0095c3 100%);
background: -webkit-linear-gradient(left,  #083569 0%,#0095c3 100%);
background: linear-gradient(to right,  #083569 0%,#0095c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083569', endColorstr='#0095c3',GradientType=1 );
color:#fff;
}
.nav-pills {
    border-bottom: 1px solid #ececec;
}
.createjob a {
background: #083569;
background: -moz-linear-gradient(left,  #083569 0%, #0095c3 100%);
background: -webkit-linear-gradient(left,  #083569 0%,#0095c3 100%);
background: linear-gradient(to right,  #083569 0%,#0095c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083569', endColorstr='#0095c3',GradientType=1 );
border-radius:30px;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 600;
position:relative;
z-index: 100;		
}
.createjob a:before{
background: #0095c3;
   content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
	border-radius:30px;
	z-index: -100;
   -webkit-transition: opacity 0.45s;
-o-transition: opacity 0.45s;
transition: opacity 0.45s;	 
}
.createjob a:hover:before{
opacity: 1;
}
.ft .bottom-line .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.powered a {
    color: #0096c5;
}
.header-sticked .custom_navbar_1 {
    background: #fff;
    -webkit-animation: slide-down .7s;
    animation: slide-down .7s;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
}
.header-sticked .custom_navbar_1 .navbar-brand img {
    max-width: 100px;
}

@media (min-width: 991px) {
.custom_navbar_1 .navbar-nav .nav-link::before {
    border-left: 1px solid #dcdcdc;
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}	
} 
@media (min-width: 1200px) {
.container {
    max-width: 1170px;
}	
}



@media (max-width: 991px) { 
.h3, h3 {
    font-size: 1.5rem;
}
.custom-control-label {
    font-size: 16px;
}
.custom_navbar_1 .navbar-nav .nav-link {
    border-top: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom_navbar_1 .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.dropdown-toggle::after {
    margin-left: auto;
}
.get-free-quotes,
.custom_navbar_1 .createjob  {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ececec;
    margin-top: 20px;
	margin-right:0 !important;
}
.get-free-quotes a,
.createjob a {
    display: block;
    text-align: center;
}
.job_dashboard .table .rating {
    min-width: 128px;
}
.job_dashboard .table th, .job_dashboard .table td{
	font-size:14px;
}
.nav-pills .nav-item a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

}

@media (max-width: 767px) { 
.h3, h3 {
    font-size: 1.3rem;
}	
.custom-control-label {
    font-size: 15px;
}
.job_dashboard .table th, .job_dashboard .table td {
    white-space: nowrap;
}
.nav-pills .nav-item {
    width: 100%;
}
}

@media (max-width: 640px) { 
.ft .bottom-line .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}
/******************************************************/


/*********************** Media Query ********************/
@media (max-width: 1405px) { 
.bnr-txt h1 {
    font-size: 3em;
    line-height: 1.4;
}
.bnr-txt p {
    font-size: 20px;
}
.bnr-txt a {
    padding: 10px 15px;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
}
.bnr-txt p {
    font-size: 18px;
}
.top-company-sec button.slick-prev.slick-arrow {
    left: 15px;
}
.top-company-sec button.slick-next.slick-arrow {
    right: 15px;
}
.top-company-sec #companies-carousel {
    padding: 0 80px;
}
}


@media (max-width: 1199.98px) {
.bnr-txt h1 {
    font-size: 2.5em; 
} 
.bnr-txt a {
    font-size: 18px;
}
.how-to-sec > .how-to::before {
    display: none;
}

}



@media (max-width: 991.98px) {  


.pricing-table-sec .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.pricing-table-sec .card-deck .card:last-child {
    margin-bottom: 0 !important;
}
.pricing-table-sec .card-deck .card:nth-child(2) {
    -webkit-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pricing-table-sec .card-body ul li {
    text-align: center;
}
.reviews.style2 {
    padding: 0 140px;
}
.reviews.style2::before, 
.reviews.style2::after {
    font-size: 113px;
}
.happy-cand .heading {
    margin-bottom: 20px;
}
.happy-cand .heading h2 {
    font-size: 28px;
}
.happy-cand .sub-info {
    font-size: 12px;
}
.happy-cand {
    padding: 40px 0;
}
.top-company-sec #companies-carousel {
    padding: 0 20px;
}
.our-partners {
    overflow: hidden;
}

}


@media (max-width: 767.98px) { 
.bnr-txt h1 {
    font-size: 1.8em; 
} 

.bnr-txt h1 br {
    display: none;
}
.bnr-txt a {
    font-size: 16px;
    min-width: 150px;
    padding: 10px;
	margin-top: 15px;
}
.service-cont div[class*="col"], .cdb .service-cont div[class*="col"]{
    margin-top: 60px;
}
.banner-cont {
    padding-bottom: 40px;
    padding-top: 40px;
}
.how-to {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}
.how-to-sec .how-to:last-child {
    margin-bottom: 0;
}
.reviews.style2 {

    padding: 0 110px;

}
.reviews.style2::before, 
.reviews.style2::after {
    z-index: -1;
    opacity: 0.08;
}
.top-compnay h3, .top-compnay span {
    display: block;
    float: none;
}
.heading > h2, .heading-title {
    font-size: 30px;
}
.level-service .heading span {
    font-size: 20px;
}
.bnr-txt p {
    font-size: 16px;
    line-height: 1.4;
}
.form-check .form-check-label {
    font-size: 14px;
}
.cdb .form-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.cdb .form-header .custom-control {
    margin-bottom: 10px;
}
.cdb .form-header .custom-control:last-child {
    margin-bottom: 0;
}
.cdb .service-cont div[class*="col"]:first-child {
    margin-top: 0;
}
.cdb .service-cont {
    margin-top:60px;
}
.titlebar h1 {
    font-size: 24px;
}

.hire-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.hire-panel .desc {
    margin: 10px 0;
}
.hire-panel .info .rate {
    margin-bottom: 5px;
}
.col .hire-panel:last-child {
    margin-bottom: 0;
}
.joblisting-panel{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.joblisting-panel .content-left {
    margin-bottom: 20px;
}
.col .joblisting-panel:last-child {
    margin-bottom: 0;
} 
.service-cont div[class*="col"] {
    max-width: 200px;
    height: 150px;
}
.partner-btn {
    font-size: 16px;
    max-width: 200px;
    padding: 15px;
	margin-top: 50px;
}

}



@media (max-width: 575.98px) { 
.reviews.style2 {
    padding: 0 ;
}
.header-cont {
    padding: 0;
}
.cta-btn a {
    color: #203767 !important;
    font-size: 12px;
}
.form-check .form-check-label {
    font-size: 13px;
}
.form-control {
    font-size: 0.9rem;
}
.titlebar h1 {
    font-size: 18px;
	margin: 40px 0;
}
.signup-partner .nav-pills .nav-link,
.pricing-table-sec .nav-item .nav-link{
    font-size: 13px;
    min-width: 0;
}
.form-inner h1 {
    font-size: 24px;
}


 }








